<h1>About me</h1>
<div class="row">
  <div class="col-md-4">
    <%= image_tag "nature.jpg", width: 300, alt: "Profile image" %>
  </div>
  <div class="col-md-8">
    <p>Insert inspirational stuff here.</p>
  </div>
</div>
